.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  color: white;
  background-color: #292b2c;
  height: 4rem;
  text-align: center;
  justify-content: center;
}

.recent-search {
  border: 1px solid #e6e6e6;
  text-transform: capitalize;
}

.card{
  width: 10rem;
  padding: 2px;
  margin: 5px;
  background-color: #0275d8;
  float:left;
}

#sidebar {
  background-color: #f9f9eb
  ;
}
#canvas {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

#heading {
  font-size: 24px;
  font-weight: bold;
}

#city-name {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 10px 10px 0px;
  float: left;
}

#date {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  float: left;
}

#weather-icon {
  padding: 5px;
  float: left;
}

#uv-number-green {
  padding: 5px;
  background-color: green;
  color: white;
  border-radius: 5px;
}

#uv-number-yellow {
  padding: 5px;
  background-color: yellow;
  border-radius: 5px;
}

#uv-number-orange {
  padding: 5px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}

#uv-number-red {
  padding: 5px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

#uv-number-purple {
  padding: 5px;
  background-color: fuchsia;
  color: white;
  border-radius: 5px;
}